@use '../../../styles/theme';

#column-container {
  position: absolute;
  height: 100%;
  overflow: hidden;

  #column-shaft {
    background-color: theme.$accent-yellow;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #column-tip {
    background-color: theme.$accent-yellow;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-aspect-ratio: 0/1) {
  #column-container {
    left: 50%;
    transform: translateX(-50%);
    width: 110vw;
    #column-shaft {
      width: 110vw;
      height: calc(100% - (15% + (110vw / 2)));
    }
    #column-tip {
      width: 110vw;
      height: 110vw;
      bottom: 15%;
    }
  }
}

@media (min-aspect-ratio: 1/1) {
  #column-container {
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    #column-shaft {
      width: 80vw;
      height: calc(100% - (15% + (80vw / 2)));
    }
    #column-tip {
      width: 80vw;
      height: 80vw;
      bottom: 15%;
    }
  }
}

@media (min-aspect-ratio: 1.5/1) {
  #column-container {
    width: 50vw;
    left: 0;
    transform: none;
    #column-shaft {
      width: 40vw;
      height: calc(100% - (15% + (40vw / 2)));
    }
    #column-tip {
      width: 40vw;
      height: 40vw;
      bottom: 15%;
    }
  }
}
