@use "styles/textures";
@use "styles/theme";
@use "styles/effects";

#app {
  width: 100%;
  height: 100%;
  background-color: theme.$neutral-dark;
  display: flex;

  #portfolio-page {
    width: 100%;
    height: 100%;
    position: relative;
    #portfolio-page-texture {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      @include textures.green-gobbler-texture;
    }
  }
}

.icon {
  width: 100px;
  height: 100px;
  @include effects.glow-icon;
}
